@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
}

a {
  display: inline-block; /* обов’язково для transform */
  transition: transform 0.3s ease;
  text-decoration: none;
}

a:hover {
  color: #E8AA31;
  transition: color 0.5s ease;
}

button {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  background-color: #be8c28;
  transition: background-color 1s ease, transform 2s ease;
}

button:active {
  transform: scale(0.55);
}

ul {
  list-style: none;
}

.header__top {
  background-color: #141414;
}
.header__nav-top {
  display: grid;
  grid-template-columns: auto 200px;
}
.header__navigation {
  padding: 25px 0;
}
.header__list {
  display: flex;
  gap: 60px;
}
.header__link {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}
.header__button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #FFFFFF;
}
.header__office {
  margin-left: 10px;
}
.header__content {
  padding: 24px 0;
  background-color: #ECF1F2;
}
.header__content-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
}
.header__search {
  margin: 0 auto;
}
.header__form {
  display: flex;
  position: relative;
}
.header__search-button {
  border: none;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 1;
  padding: 5px;
  background-color: rgba(7, 7, 7, 0.03);
}
.header__search-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: url("../assets/icon/search/search.svg") 0 0 no-repeat;
}
.header__search-input {
  position: relative;
  width: 377px;
  height: 41px;
  border: 1px solid #141414;
  border-radius: 3px;
  background-color: rgba(7, 7, 7, 0.03);
  padding-left: 40px;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__location {
  display: flex;
  align-items: center;
  margin-right: 55px;
  color: #141414;
  font-size: 18px;
  font-weight: 600;
}
.header__location-icon {
  position: relative;
  padding-left: 30px;
}
.header__location-icon::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 17px;
  height: 24px;
  background: url("../assets/icon/contacts/icon-location.svg") 0 0 no-repeat;
}
.header__phone {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 18px;
  font-weight: 600;
}
.header__numbers-box {
  display: flex;
  gap: 10px;
}
.header__phone-link {
  color: #141414;
}
.header__phone-call {
  color: #E8AA31;
}
.header__favorite {
  width: 28px;
  height: 26px;
  margin: 0 30px;
}
.header__basket {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.header__basket::after {
  content: "0";
  position: absolute;
  top: 0;
  left: 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #E8AA31;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__basket-icon {
  margin-right: 10px;
}
.header__order {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header__order-link {
  font-size: 16px;
  font-weight: 500;
  color: #E8AA31;
}
.header__footer {
  background-color: #141414;
}
.header__navigation {
  position: relative;
}
.header__link {
  position: relative;
}

.header-footer--list {
  gap: 130px;
  padding-bottom: 20px;
}

.active {
  color: #E8AA31;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #E8AA31;
}

.button-arrow {
  display: block;
  padding-left: 16px;
  color: #141414;
  cursor: pointer;
}
.button-arrow::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background: url("../assets/icon/arrow/buttom-orange-arrow.svg") 0 0 no-repeat;
  transform: rotate(0deg);
  transform-origin: center center;
  transition: transform 0.5s ease;
}
.button-arrow.active-arrow::after {
  transform: rotate(-180deg);
}
.button-arrow__numbers {
  display: none;
  position: absolute;
  padding: 5px;
  height: 70px;
  top: 25px;
  left: 10px;
  border-radius: 3px;
  box-shadow: 0 0 25px 1px #000000;
  background-color: #FFFFFF;
  z-index: 99;
}
.button-arrow__numbers-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.button-arrow__numbers-link {
  color: #000000;
}

.active-menu {
  display: block;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/footer/footer.jpg") center/cover no-repeat;
}
.footer__header {
  padding: 60px 0;
}
.footer__title {
  text-align: center;
  color: #E8AA31;
  margin-bottom: 30px;
}
.footer__content {
  background: rgb(20, 20, 20);
}
.footer__container {
  padding-top: 102px;
  padding-bottom: 49px;
}
.footer__info-blok, .footer__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__copy-right {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}

.info-blok__item {
  width: 280px;
}
.info-blok__title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 23px;
}
.info-blok__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info-blok__list-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
}

.phone {
  position: relative;
  padding-left: 30px;
}
.phone::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/icon/contacts/icon-phone.svg") center/contain no-repeat;
}

.time {
  position: relative;
  padding-left: 30px;
}
.time::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/icon/contacts/icon-time.svg") center/contain no-repeat;
}

.location {
  position: relative;
  padding-left: 30px;
}
.location::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/icon/contacts/icon-location.svg") center/contain no-repeat;
}

.gmail {
  position: relative;
  padding-left: 30px;
}
.gmail::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../assets/icon/contacts/icon-gmail.svg") center/contain no-repeat;
}

.form__gmail {
  margin-bottom: 30px;
  position: relative;
}
.form__gmail-input {
  width: 230px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  background-color: rgba(93, 86, 86, 0.03);
}
.form__button {
  position: absolute;
  top: 12px;
  left: -10px;
  width: 36px;
  height: 34.5px;
  position: relative;
  padding-left: 20px;
  border-radius: 3px;
  border: none;
  background-color: #E8AA31;
}
.form__button::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
  background: url("../assets/icon/arrow/wihte-arrow.svg") center/contain no-repeat;
}
.form__check-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
}

.social-blok__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}
.copy-right__text {
  line-height: 20px;
}
.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
.main__block {
  padding-top: 31px;
  padding-bottom: 64px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/section-internet/internet-bg.png") center/cover no-repeat;
}
.main__block-slider {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 64px;
}
.main__block-slider-block {
  display: grid;
  grid-template-columns: 1fr;
}
.main__block-slider-body {
  display: grid;
  grid-template-columns: 1fr;
}
.main__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 3%;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.main__description {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 30px;
  letter-spacing: 3%;
  padding-bottom: 60px;
}
.main__button {
  font-size: 20px;
  font-weight: 600;
  line-height: 46px;
  padding: 2px 52px;
}
.main__knifs-img {
  width: 100%;
  height: 100%;
}
.main__block-offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #FFFFFF;
}
.main__block-item {
  width: 265px;
  height: 145px;
  text-align: center;
}
.main__block-img {
  height: 65px;
  margin-bottom: 17px;
}
.main__block-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.main__catalog {
  padding-top: 100px;
  padding-bottom: 100px;
}
.main__catalog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product__header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 60px;
}
.product__title {
  color: #141414;
}
.product__link {
  font-size: 18px;
  font-weight: 600;
  color: rgba(20, 20, 20, 0.58);
}
.product__carusel {
  display: flex;
  flex-direction: column;
}
.product__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.product__pagination {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
}

.rating__item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  /*
  position: relative;
  padding-left: 27px;
  &:checked{
      transform: scale(0);
  }

  &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      background: url("../assets/icon/star/star.svg") center / cover no-repeat;
  }
      */
}
.rating__item::before {
  content: "★";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #ccc;
  transition: color 0.3s ease;
}
.rating__item:checked::before {
  color: gold;
}
.rating__item:hover::before {
  color: orange;
}
.icon-basket {
  position: relative;
  padding-right: 30px;
}
.icon-basket::after {
  position: absolute;
  content: "";
  top: 2px;
  right: 0;
  width: 19px;
  height: 17px;
  background: url("../assets/icon/basket/white-basket.svg") center/contain no-repeat;
}

.main__hit {
  padding-top: 20px;
  padding-bottom: 154px;
}

.main__novelty {
  position: relative;
  padding-top: 64px;
  padding-bottom: 46px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/img/section-internet/internet-bg.png") center/cover no-repeat;
}
.main__novelty::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 54%;
  height: 44px;
  background-color: #FFFFFF;
}

.novelty__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.novelty__title {
  color: #FFFFFF;
  margin-bottom: 30px;
}
.novelty__paragraph {
  margin-right: 60px;
  margin-bottom: 60px;
}
.novelty__link {
  font-size: 20px;
  font-weight: 600;
  color: #E8AA31;
}
.novelty__product-carusel {
  margin-top: 40px;
}

.main__shares {
  padding-top: 100px;
  padding-bottom: 50px;
}

.main__articles {
  padding-bottom: 120px;
  padding-top: 60px;
}

.articles__title {
  margin-bottom: 30px;
}
.articles__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.articles__card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 328px;
  height: 350px;
  box-sizing: border-box;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}
.articles__card-image {
  width: 100%;
  margin-bottom: 20px;
}
.articles__card-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}
.articles__card-title {
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
}
.articles__date {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
  color: rgba(20, 20, 20, 0.58);
  margin-top: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

.main__page-cards {
  padding-bottom: 40px;
}

.page-cards__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.page-cards__card {
  width: 690px;
  box-sizing: border-box;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.page-cards__title {
  position: relative;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.page-cards__title::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #E8AA31;
}
.page-cards__paragraph {
  width: 280px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 3%;
  color: #000000;
  margin-bottom: 30px;
}
.page-cards__button {
  width: 288px;
  font-size: 18px;
  font-weight: 600;
  line-height: 46px;
  color: #FFFFFF;
}

.bg-card-image-01 {
  background: url("../assets/img/page-cards-section/1.png") right/contain no-repeat;
}

.bg-card-image-02 {
  background: url("../assets/img/page-cards-section/2.png") right/contain no-repeat;
}

.main__light {
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn-button {
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: #E8AA31;
}

.block-controlls {
  display: flex;
}

.controlls-line {
  display: flex;
  gap: 30px;
  padding-right: 40px;
}

.pagination-line {
  position: relative;
}
.pagination-line::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
}
.pagination-line--bg-grey::before {
  background-color: rgba(20, 20, 20, 0.58);
}

.pagination-line-active {
  position: relative;
}
.pagination-line-active::before {
  background-color: #E8AA31;
}
.pagination-line-active::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #E8AA31;
  animation: slide 2s ease-in-out infinite normal;
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: 15px;
  }
}
.pagination-number {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

.pagination-number-active {
  font-size: 24px;
  font-weight: 600;
  color: #E8AA31;
}

.catalog {
  margin: 0 auto;
}
.catalog__card {
  width: 450px;
  height: 293px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 62px;
  padding-left: 30px;
  box-sizing: border-box;
}
.catalog__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #141414;
  margin-bottom: 15px;
}
.catalog__line {
  position: relative;
  margin-top: 15px;
}
.catalog__line::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 68px;
  height: 2px;
  background-color: #E8AA31;
}
.catalog__list {
  margin-top: 60px;
}
.catalog__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  position: relative;
  padding-left: 20px;
}
.catalog__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 8px;
  height: 8px;
  background-color: #E8AA31;
  border-radius: 50%;
}

.bg-card-01 {
  background: url("../assets/img/catalog-section/1.png") center/60% no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.bg-card-02 {
  background: url("../assets/img/catalog-section/2.png") center/60% no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.bg-card-03 {
  background: url("../assets/img/catalog-section/3.png") center/60% no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.bg-card-04 {
  background: url("../assets/img/catalog-section/4.png") center/60% no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.bg-card-05 {
  background: url("../assets/img/catalog-section/5.png") center/60% no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.bg-card-06 {
  background: url("../assets/img/catalog-section/6.png") center/60% no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.product__card {
  display: flex;
  flex-direction: column;
  width: 328px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}
.product__image {
  width: 270px;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.product__name {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  color: #141414;
}
.product__parametrs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.product__size, .product__made {
  font-size: 16px;
  font-weight: 600;
  line-height: 34px;
  color: rgb(171, 171, 171);
}
.product__rating {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: rgb(171, 171, 171);
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 26px;
  line-height: 34px;
}
.product__rating::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(171, 171, 171);
}
.product__actions {
  display: flex;
  justify-content: space-between;
}
.product__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 26px;
}
.product__compare {
  position: relative;
  padding-left: 26px;
}
.product__compare::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 80px;
  width: 26px;
  height: 25px;
  background: url("../assets/icon/compare/compare.svg") center/contain no-repeat;
}
.product__favorite {
  position: relative;
  padding-left: 28px;
}
.product__favorite::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 30px;
  height: 25px;
  background: url("../assets/icon/like/orange-likes.svg") center/contain no-repeat;
}
.product__button {
  font-size: 18px;
  font-weight: 600;
  line-height: 46px;
  color: #FFFFFF;
}

.menu__dropdown {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #141414;
  z-index: 99;
}
.menu__body {
  padding-bottom: 40px;
}
.menu__list-title {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}
.menu__item-title {
  width: 220px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.menu__list-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.menu__item {
  width: 220px;
}
.menu__link {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 100%;
}
.menu__lists-item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.active-menu {
  display: block;
}

.hidden {
  display: none;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 5%;
}

.paragraph {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.7);
}

.link-arrow {
  position: relative;
  padding-right: 20px;
  line-height: 46px;
  letter-spacing: 5%;
  margin-right: 40px;
}
.link-arrow::after {
  position: absolute;
  content: "";
  top: 18px;
  right: 0;
  width: 10px;
  height: 10px;
  background: url("../assets/icon/arrow/orange-arrow.svg") right/cover no-repeat;
}

.line-for-footer {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.line-for-footer::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
}

.active--link {
  font-size: 16px;
  font-weight: 500;
  color: #E8AA31;
}

.title-bold {
  font-weight: 700;
}

.text-800 {
  font-weight: 900;
}

.text-400 {
  font-weight: 600;
}

.text-100 {
  font-weight: 100;
}

.mg-auto {
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */