
@use '../base/variables' as *;
@use '../base/mixin' as *;

.header {
        &__top{
            background-color: $bg-dark;
        }

		&__nav-top {
            display: grid;
            grid-template-columns:  auto 200px;
		}

		&__navigation {
            padding: 25px 0;
		}

		&__list {
            display: flex;
            gap: 60px;
		}

		&__item {
		}

		&__link {
            @include size-weight(16px, 500);
            color: $color-for-text-white;
		}

		&__button {
            display: flex;
            align-items: center;
            background: none;
            border: none;
            color: $color-for-text-white;
		}

        &__office{
            margin-left: 10px;
        }

        //content

        &__content{
            padding: 24px 0;
            background-color: $bg-section-header-content;
        }

        &__content-container{
            display: grid;
            grid-template-columns: auto 1fr 1fr;
        }

        &__logo{
        }

		&__search {
            margin:  0 auto ;
		}

		&__form {
            display: flex;
            position: relative;
		}

        &__search-button{
            border: none;
            position: absolute;
            top: 15px;
            left: 20px;
            z-index: 1;
            padding: 5px;
            background-color: $bg-for-input-text;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                background: url('../assets/icon/search/search.svg') 0 0  no-repeat;
            }
        }


        &__search-input{
            position: relative;
            width: 377px;
            height: 41px;
            border: 1px solid $bg-dark;
            border-radius: 3px;
            background-color: $bg-for-input-text;
            padding-left: 40px;
        }

		&__actions {
            display: flex;
            align-items: center;
		}

        &__location{
            display: flex;
            align-items: center;
            margin-right: 55px;
            color: $bg-dark;
            @include size-weight(18px, 600);
        }

		&__location-icon{
            position: relative;
            padding-left: 30px;

            &::before{
                content: '';
                position: absolute;
                top:-15px;
                left: 0;
                width: 17px;
                height: 24px;
                background: url('../assets/icon/contacts/icon-location.svg') 0 0 no-repeat;
            }
		}

		&__phone {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 3px;

            @include size-weight(18px, 600);
		}

        &__numbers-box{
            display: flex;
            gap: 10px;
        }

        &__phone-link{
           color: $bg-dark;
        }

        &__phone-call{
            color: $color-for-active-text;
        }

		&__favorite {
            width: 28px;
            height: 26px;
            margin: 0 30px;
		}

		&__basket {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;

            &::after{
                content: '0';
                position: absolute;
                top: 0;
                left: 20px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $color-for-active-text;
                color: $color-for-text-white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
		}

        &__basket-icon{
            margin-right: 10px;
        }

		&__sum {
		}

		&__order {
            display: flex;
            flex-direction: column;
            gap: 5px;
		}
        &__order-link {
            @include size-weight(16px, 500);
            color: $color-for-active-text;
		}

        //header-footer

		&__footer {
            background-color: $bg-dark;
		}

		&__nav-bottom {
		}

		&__navigation {
            position: relative;
		}

		&__list {
		}

		&__item {
		}

		&__link {
            position: relative;
		}


}
.header-footer--list{
    gap: 130px;
    padding-bottom: 20px;
}

.active{
    color: $color-for-active-text;
    
    &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-for-active-text;
    }
}


.button-arrow{
        display: block;
        padding-left: 16px;
        color: $bg-dark;
        cursor: pointer;

        &::after{
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            background: url('../assets/icon/arrow/buttom-orange-arrow.svg') 0 0 no-repeat;
            transform: rotate(0deg);
            transform-origin: center center;
            transition: transform 0.5s ease; 
        }

        &.active-arrow::after{
            transform: rotate(-180deg);
        }

		&__numbers {
            display: none;
            position: absolute;
            padding: 5px;
            height: 70px;
            top: 25px;
            left: 10px;
            border-radius: 3px;
            box-shadow: 0 0 25px 1px $color-for-text-dark;
            background-color: $color-for-text-white;
            z-index: 99;

		}

		&__numbers-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
		}

		&__numbers-item {
		}

		&__numbers-link {
            color: $color-for-text-dark;
		}
}

.active-menu {
    display: block;
}
