
@use '../base/variables' as *;
@use '../base/mixin' as *;

.catalog {
    margin: 0 auto;

    &__card {
        width: 450px;
        height: 293px;
        background-color: $color-for-text-white;
        padding-top: 30px;
        padding-bottom: 62px;
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
        @include box-shadow;
    }

    &__title {
        display: inline;
        position: relative;
        cursor: pointer;
        @include size-weight(24px, 600);
        line-height: 34px;
        color: $bg-dark;
        margin-bottom: 15px;

        @include line-under-title;
    }

    &__line {
        position: relative;
        margin-top: 15px;


    }

    &__list {
        margin-top: 60px;
    }

    &__item {
        position: relative;
        padding-left: 20px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 10px;
            width: 8px;
            height: 8px;

            background-color: $color-for-active-text;
            border-radius: 50%;
        }
    }

    &__link{
        @include size-weight(18px, 500);
        line-height: 34px;
        color: $color-for-text-dark;
    }
}

.bg-card-01{
    @include position-bg-for-cards('../assets/img/catalog-section/1.png');
}

.bg-card-02{
    @include position-bg-for-cards('../assets/img/catalog-section/2.png');
}

.bg-card-03{
    @include position-bg-for-cards('../assets/img/catalog-section/3.png');
}

.bg-card-04{
    @include position-bg-for-cards('../assets/img/catalog-section/4.png');
}

.bg-card-05{
    @include position-bg-for-cards('../assets/img/catalog-section/5.png');
}

.bg-card-06{
    @include position-bg-for-cards('../assets/img/catalog-section/6.png');
}