
@use '../base/variables' as *;
@use '../base/mixin' as *;

.product{

    &__card {
        display: flex;
        flex-direction: column;
        width: 328px;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
        background-color: $color-for-text-white;
        @include box-shadow;
	}
        
    &__image{
        width: 270px;
        height: 240px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    
	&__name {
        @include size-weight(20px, 600);
        line-height: 34px;
        letter-spacing: 0%;
        color: $bg-dark;
	}
	&__parametrs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;
	}

	&__size,  &__made{
        @include size-weight(16px, 600);
        line-height: 34px;
        color: $color-for-actions;
	}
	&__rating {
        display: flex;
        justify-content: space-between;
        position: relative;
        color: $color-for-actions;
        @include size-weight(16px, 500);
        padding-bottom: 26px;
        line-height: 34px;
        &::after{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-for-actions;
        }
	}
	&__actions {
        display: flex;
        justify-content: space-between;
	}
	&__price {
        @include size-weight(20px, 600);
        line-height: 34px;
        color: $color-for-text-dark;
        margin-top: 20px;
        margin-bottom: 26px;
	}

	&__compare {
        position: relative;
        padding-left: 26px;
        &::before{
            position: absolute;
            content: "";
            top: 20px;
            left: 80px;
            width: 26px;
            height: 25px;
            background: url('../assets/icon/compare/compare.svg') center / contain no-repeat;
        }
	}
	&__favorite {
        position: relative;
        padding-left: 28px;
        &::before{
            position: absolute;
            content: "";
            top: 20px;
            left: 0;
            width: 30px;
            height: 25px;
            background: url('../assets/icon/like/orange-likes.svg') center / contain no-repeat;
        }
	}
	&__button {
        @include size-weight(18px, 600);
        line-height: 46px;
        color: $color-for-text-white;
	}
}
