
@use '../base/variables' as *;

@mixin size-weight($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

@mixin position-bg-for-cards($url){
    background: url($url) center / 60% no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

@mixin contacts-icon ($url){
    position: relative;
    padding-left: 30px;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url($url) center / contain no-repeat;
    }
}

@mixin box-shadow(){
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 1s ease;
        
    &:hover{
        box-shadow: 0 6px 20px 10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.5s ease;
    }
}

@mixin line-under-title(){
        &::after{
            position: absolute;
            content: '';
            bottom: -15px;
            left: 0;
            width: 68px;
            height: 2px;
            background-color: $color-for-active-text;

            transition: width 1s ease-out;
        }

        &:hover::after{
            width: 100%;
        }
}