
@use '../base/variables' as *;

@mixin size-weight($size, $weight){
    font-size: $size;
    font-weight: $weight;
}

@mixin position-bg-for-cards($url){
    background: url($url) center / 60% no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

@mixin contacts-icon ($url){
    position: relative;
    padding-left: 30px;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url($url) center / contain no-repeat;
    }
}