
$bg-dark: #141414;
$bg-section-header-content: #ECF1F2;
$bg-for-input-text: rgba(7, 7, 7, 0.03);
$color-for-text-white: #FFFFFF;
$color-for-text-dark: #000000;
$color-for-active-text: #E8AA31; // also for bg input
$color-for-active-text-hover: #be8c28;
$color-for-enter-link: #14141494;
$color-for-discription-text-in-card: #ABABAB;

