
@use '../base/variables' as *;
@use '../base/mixin' as *;

.main {

		&__novelty {
            position: relative;
            padding-top: 64px;
            padding-bottom: 46px;
            //background: url('../assets/img/novelty-section/novelty.png') center / cover no-repeat;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url('../assets/img/section-internet/internet-bg.png') center / cover no-repeat;

            &::before{
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                width: 54%;
                height: 44px;
                background-color: $color-for-text-white;
            }
		}
}

.novelty {

		&__container {
            display: grid;
            grid-template-columns: 1fr 3fr;
		}

		&__body {
		}

		&__title {
            color: $color-for-text-white;
            margin-bottom: 30px;
		}

        &__paragraph{
            margin-right: 60px;
            margin-bottom: 60px;
        }

        &__link{
            @include size-weight(20px, 600);
            color: $color-for-active-text;
        }

        &__product-carusel{
            margin-top: 40px;
        }
}
