
@use '../base/variables' as *;
@use '../base/mixin' as *;

.main {

		&__page-cards {
            padding-bottom: 40px;
		}
}

.page-cards {

		&__container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
		}

		&__card {
            width: 690px;
            box-sizing: border-box;
            padding: 15px;
            background: $color-for-text-white;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
		}


		&__title {
            position: relative;
            margin-bottom: 40px;
            @include size-weight(18px, 600);
            color: $color-for-text-dark;

            &::after{
                position: absolute;
                content: '';
                bottom: -20px;
                left: 0;
                width: 50px;
                height: 2px;
                background: $color-for-active-text;
            }
		}

        &__paragraph{
            width: 280px;
            @include size-weight(16px, 500);
            line-height: 27px;
            letter-spacing: 3%;
            color: $color-for-text-dark;
            margin-bottom: 30px;
        }

        &__button{
            width: 288px;
            @include size-weight(18px, 600);
            line-height: 46px;
            color: $color-for-text-white;
        }
}

.bg-card-image-01{
    background: url('../assets/img/page-cards-section/1.png') right / contain no-repeat;
}

.bg-card-image-02{
    background: url('../assets/img/page-cards-section/2.png') right / contain no-repeat;
}
