
@use '../base/variables' as *;
@use '../base/mixin' as *;

.product {

		&__carusel {
            display: flex;
            flex-direction: column;
		}

        &__cards{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        &__pagination{
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 50px;
        }
}
